*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   Font color: #363636;
   font-family: 'Biryani', sans-serif;
}

h1 {
  font-size: 3em;
  padding: 2%;
  margin-left: 3%;
}

main {
  background-color: #F5F5F5;
  min-height: 780px;
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  float: left;
  width: 7em;
  background-color: white;
  justify-content: center;
  min-height: 750px;
}

img {
  height: 40px;
  margin: 1%;
  margin-bottom: 12%;
}

.active {
  border-left: 8px solid #06d0f1;
}

.logo {
  align-content: center;
  height: 80px;
  justify-content: flex-start;
  margin-left: 12px;
  position: absolute;
  top: 0;
}

.financial-overview {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  min-height: 750px;
  width: 47%;
}

#welcome-message {
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  height: 2%;
  margin-bottom: 4%;
  margin-left: 7%;
  width: 73%;
  min-height: 140px;
}

#close-message {
  margin: 0px;
  float: right;
  height: 20px;
  padding: 5px;
}

.greeting {
  font-size: 2em;
  padding: 9% 5% 5% 3%;
}

.financial-totals {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  margin-top: 2%;
  width: 24%;
}

.personal-total-label {
  font-size: 1em;
}

.personal-total-number {
  font-size: 1.5em;
}

.personal-summary {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  margin-bottom: 5%;
  margin-left: 7%;
  text-align: center;
}

.account-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 1%;
  margin-top: 2%;
  margin-left: 8%;
}

.button {
  background-color: #1CA3BA;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  color: white;
  height: 35px;
  margin-left: 34%;
  width: 170px;
}

.account {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  margin-left: 7%;
  margin-bottom: 2%;
  padding: 17px;
  width: 73%;
}

.acct-icons {
  height: 30px;
  margin: 0px;
}

.transaction-wrapper {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  /* float: right; */
  min-height: 750px;
  width: 45%;
  padding-top: 6%;
  padding-bottom: 1%;
}

.transaction-container {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 4%;
  padding: 2%;
}

.transactions {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
}

.transaction-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.individual-transaction {
  border-bottom: solid 2px #CCCCCC;
  display: flex;
  padding: 2%;
  flex-direction: row;
  justify-content: space-between;
}

#trans-view-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin: 5%;
  margin-right: 0%;
}

.trans-button{
  margin-left: 10px;
  background-color: #1CA3BA;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  color: white;
  height: 35px;
  width: 100px;
}

#all-trans-btn {
  margin-left: 20%;
}

.trans-view-list{
  margin-left: 5%;
}

#transactions-page-view{
  /* width: 47%; */
}

.payee {
  text-align: justify;
}

.new-transaction{
  background-color: white;
  display: flex;
  flex-direction: column;
  /* float: right; */
  margin-left: 5%;
  margin-top: 6%;
  min-height: 750px;
  width: 45%;
  /* padding-bottom: 1%; */
  padding-left: 5%;
}

input{
  width: 80%;
  margin-bottom: 2%;
}

select{
  width: 80%;
  margin-bottom: 2%;
}

#log-btn{
  background-color: #1CA3BA;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  color: white;
  height: 35px;
  margin-top: 4%;
  width: 170px;
}
