*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   Font color: #363636;
   font-family: 'Biryani', sans-serif;
}

h1 {
  font-size: 3em;
  padding: 2%;
  margin-left: 8%;
}

main {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  min-height: 703px;
}

nav {
  /* grid-column: 1fr; */
  display: flex;
  flex-direction: column;
  float: left;
  width: 7em;
  background-color: white;
  justify-content: center;
  min-height: 703px;
}

img {
  height: 40px;
  margin: 1%;
  margin-bottom: 12%;
}

.logo {
  align-content: center;
  height: 80px;
  justify-content: flex-start;
  margin-left: .5%;
  position: absolute;
  top: 0;
}

.financial-overview {
  background-color: #F5F5F5;
}

#welcome-message {
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  height: 2%;
  margin-left: 10%;
  width: 35%;
  min-height: 140px;
}

#close-message {
  margin: 0px;
  float: right;
  height: 20px;
  padding: 5px;
}

.greeting {
  font-size: 2em;
  padding: 9% 5% 5% 3%;
}

.financial-totals {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  /* border: solid red 2px; */
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  margin-top: 2%;
  width: 10%;
}
.personal-total-label {
  font-size: 1em;
}

.personal-total-number {
  font-size: 1.5em;
}

.personal-summary {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  margin-left: 10%;
  text-align: center;
}

.account-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 2%;
  margin-left: 10%;
}

#manage-acct-btn {
  background-color: #1CA3BA;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  color: white;
  height: 35px;
  margin-left: 17%;
  width: 170px;
}
